*.cmake
builddir/**
build/**
mcu_program/*.lst
mcu_program/*.obj
mcu_program/*.MAP
mcu_program/*.ORC
mcu_program/*.plg
mcu_program/*.uvopt
mcu_program/*.uvproj
docs/LMS_API_Documentation/*
.vs/
obj/
x64.Debug/
x64.Release/
Debug/
Release/
bin/
CMakeFiles/
*.dir/
CMakeCache.txt